@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root {
    --primary-color: #1B6DB6;
    --secondary-color: #DF980C;
    --accent1-color: #122D64;
    --accent2-color: #FFFFFF;
    --text-color: #000000;

    --heading-font: 'Poppins', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #1B6DB6;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #DF980C;
    --nav-hover-background-color: #122D64;

}
body {
    font-family: var(--heading-font), sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
  
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
	align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1rem;
    background-color: var(--nav-background-color);
}
  
.logo img {
    margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
  
nav a.active {
    font-weight: bold;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
  
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 1rem;
    background-color: #fff;
}
  
.hero {
    position: relative;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.hero article {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(4, 38, 78, 0.7);
    padding: 20px;
    width: 80%;
}
  
.hero article img {
    float: right;
    max-width: 150px;
    margin-left: 20px;
    height: auto;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
    padding: 1rem;
}

.history section {
    grid-column: 1/4;
}

section p {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
}

section h2 {
    display: flex;
    justify-content: center;
    color: var(--nav-hover-background-color);
}
.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px auto;
    padding: 1rem;
}

.adventures section {
    grid-column: 1/6;
    margin: 0 auto;
    padding: 1rem;
}

.adventures figure {
    grid-column: 1/6;
    display: flex;
    flex-flow: column;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin: auto;
}

figure img {
    border: thin #6b6868 solid;
    width: 15%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    width: 15%;
}

footer {
    display: grid;
    grid-template-columns: 75% 25%;
	align-items: center;
    margin: 20px auto;
    background-color: var(--nav-background-color);
    padding: 1rem;
    text-align: center;
    color: #fff;
    max-width: 1000px;
}
  
footer p {
    display: flex;
    justify-content: center;
    margin: 0;
}
  
footer a {
    margin: 0 10px;
    text-decoration: none;
}
  
footer img {
    max-width: 30px;
    height: auto;
}