@import url('https://fonts.googleapis.com/css2?family=Poppins');
:root {
    --primary-color: #1B6DB6;
    --secondary-color: #DF980C;
    --accent1-color: #122D64;
    --accent2-color: #FFFFFF;
    --text-color: #000000;

    --heading-font: 'Poppins', serif;
    --paragraph-font: 'Poppins', serif;

    --nav-background-color: #1B6DB6;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #DF980C;
    --nav-hover-background-color: #122D64;

}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--text-color);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
